<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01//RU">
<html lang="ru">
    <head>
        <meta charset="UTF-8">
        <title>{% block title %}{% endblock %}</title>
        <link rel= 'stylesheet' href= "style.css" />
    </head>
    <body>
        <div class="nav-scroller py-1 mb-2">
            <nav class="nav d-flex justify-content-between">
                <a class="p-2 link-secondary" href="{% url 'news' %}"><ya-tr-span data-type="trSpan">Like News</ya-tr-span></a>
                <a class="p-3 link-secondary" href="{% url 'main' %}"><ya-tr-span data-type="trSpan">Main</ya-tr-span></a>
                <a class="p-4 link-secondary" href="account/login"><ya-tr-span data-type="trSpan">Account</ya-tr-span></a>
            </nav>
        </div>

         {% if user.is_authenticated %}
            <p>Hi {{ user.username }}!</p>
             <p><a href="{% url 'logout' %}">Log out</a></p>
          {% else %}
            <p>You are not logged in.</p>
            <a href="{% url 'login' %}">Log In</a>
          {% endif %}

        <div class="container">
            {% block content %}{% endblock %}
        </div>
    </body>
</html>